I created 2 tables in psql:
```
project_mcnulty=# CREATE TABLE intakes(
project_mcnulty(# AnimalID VARCHAR NOT NULL,
project_mcnulty(# Name VARCHAR,
project_mcnulty(# DateTime VARCHAR NOT NULL,
project_mcnulty(# MonthYear VARCHAR NOT NULL,
project_mcnulty(# FoundLocation VARCHAR,
project_mcnulty(# IntakeType VARCHAR,
project_mcnulty(# IntakeCondition VARCHAR,
project_mcnulty(# AnimalType VARCHAR,
project_mcnulty(# SexuponIntake VARCHAR,
project_mcnulty(# AgeuponIntake VARCHAR,
project_mcnulty(# Breed VARCHAR,
project_mcnulty(# Color VARCHAR
project_mcnulty(# );


CREATE TABLE outcomes(
project_mcnulty(# AnimalID VARCHAR NOT NULL,
project_mcnulty(# Name VARCHAR,
project_mcnulty(# DateTime VARCHAR NOT NULL,
project_mcnulty(# MonthYear VARCHAR NOT NULL,
project_mcnulty(# DateofBirth VARCHAR,
project_mcnulty(# OutcomeType VARCHAR,
project_mcnulty(# OutcomeSubtype VARCHAR,
project_mcnulty(# AnimalType VARCHAR,
project_mcnulty(# SexuponOutcome VARCHAR,
project_mcnulty(# AgeuponOutcome VARCHAR,
project_mcnulty(# Breed VARCHAR,
project_mcnulty(# Color VARCHAR
project_mcnulty(# );
```

Then I imported the CSVs:

```
COPY intakes FROM '/Users/robertpagano/src/metis_project_mcnulty_v2/data/raw_data/Austin_Animal_Center_Intakes.csv' DELIMITERS ',' CSV;

COPY intakes FROM '/Users/robertpagano/src/metis_project_mcnulty_v2/data/raw_data/Austin_Animal_Center_Outcomes.csv' DELIMITERS ',' CSV;
```

I then merged the tables together on "Animal ID":

```
CREATE VIEW intakes_outcomes AS (
    SELECT intakes.*, outcomes.outcomes FROM 
      intakes LEFT JOIN outcomes
      ON intakes.AnimalID = outcomes.AnimalID
```